{% extends "index.html" %}

{% block content %}

<form method = "POST"></form>
    <label for="username">Username</label>
    <br>
        <input name="username" type="text">
        <span class="error">Not a valid username</span>
    <br>
    <label for="password">Password</label>
    <br>
        <input name="password" type="password">
        <span class="error">Not a valid password</span>
    <br>
    <label for="confirm">Confirm Password</label>
    <br>
        <input name="confirm" type="password">
        <span class="error">Passwords don't match</span>
    <br>
    <label for="email">Email (optional)</label>
    <br>
        <input name="email" type="text">

    {% if error %}
        <p class='error'>{{ error }}</p>
    {% endif %}
        
{% endblock %}