{% extends "index.html" %}

{% block content %}

<form action="signup" method = "POST">
    <label for="username">Username</label>
    <br>
        <input name="username" {{ username }} type="text" maxlength="20" minlength = "3">
    <br>
    <label for="password">Password</label>
    <br>
        <input name="password" {{ password }} type="password" maxlength="20" minlength = "3">
    <br>
    <label for="confirm">Confirm Password</label>
    <br>
        <input name="confirm" {{ confirm }} type="password" maxlength="20" minlength = "3">
    <br>
    <label for="email">Email (optional)</label>
    <br>
        <input name="email" {{ email }} type="text" maxlength="20" minlength = "3">
    <br>
    <input type="submit" value="Submit"/>
</form>

{% if error %}
    <p class='error'>{{ error }}</p>
{% endif %}
        
{% endblock %}